[submodule "software/libmapper_arduino"]
	path = software/libmapper_arduino
	url = https://github.com/mathiasbredholt/libmapper_arduino.git
[submodule "software/TorqueTuner-ESP32"]
	path = software/TorqueTuner-ESP32
	url = https://github.com/MathiasKirkegaard92/TorqueTuner-ESP32.git
[submodule "software/Mechaduino-firmware"]
	path = software/Mechaduino-firmware
	url = https://github.com/MathiasKirkegaard92/Mechaduino-firmware.git
[submodule "MapperUGen.git"]
	path = software/MapperUGen
	url = https://github.com/mathiasbredholt/MapperUGen.git
