[submodule "software/Mechaduino-firmware"]
	path = software/Mechaduino-firmware
	url = git@gitlab.com:MathiasKirkegaard92/Mechaduino-firmware.git
[submodule "software/libmapper_arduino"]
	path = software/libmapper_arduino
	url = https://github.com/mathiasbredholt/libmapper_arduino.git